#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Personal Corcer */
.task {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 0.5em 0;
  background-color: #636363;
  border-radius: 10px;
}
.task_completed {
  color: rgb(0, 204, 0);
  font-weight: bold;
  cursor: pointer;
}
.task_notcompleted {
  color: rgb(119, 0, 0);
  font-weight: bold;
  cursor: pointer;
}
.task_del_btn {
  padding: 0.2em 0.5em;
  background-color: rgb(230, 0, 0);
}
.task_del_btn:hover {
  background-color: rgb(255, 30, 30);
}

.task_form {
  display: flex;
  gap: 5px;
}
.task_form_input {
  padding: 0.2em;
  border-radius: 5px;
}
.task_form_submit {
  background-color: #3f3f3f;
}
.task_form_submit:hover {
  background-color: #4b4b4b;
}

.error_msg {
  color: rgb(156, 0, 0);
  font-weight: bold;
}